<% layout('layouts/boilerplate') %>

  <div class="profile-container">
    <h1 id="tp">Doctor Profile</h1>
    <img class="profile-img" src=<%= doctor.image %> alt=<%= doctor.name %> >
    <div class="btn-circle blink"></div>
    <div class="content">
      <h3 class="profile-title"> <b> <%= doctor.name %></b></h3>
      <div class="profile-content">
        <ul>
          <% for( degree of doctor.degrees ) { %>
            <%= degree %>, 
          <% } %>
        </ul>
        <ul><%= doctor.position %></ul>
        <ul><%= doctor.hospital %></ul>
        <br> <br>
      </div>
      <div class="profile-special">
        <h4>Speciality</h4>
        <% for( speciality of doctor.speciality ) { %>
          <button type="button" class="btn btn-info"><%= speciality %> </button>
        <% } %>
      </div>
      <div class="profile-exp">
        <h4>Experience</h4>
        <p><%= doctor.exp %> </p>
        <h4>Languages</h4>
        <p>
          <% for( language of doctor.languages ) { %>
            <%= language %> ,
          <% } %>
        </p>
        <h4>Contact</h4>
        <p><%= doctor.contact %> </p>
        <br>
      </div>
      <div class="profile-doc-about">
        <h4>About <%= doctor.name %> </h4>
        <img class="profile-ratings" src="/img/rating3.png" alt="">
        <img class="profile-ratings" src="/img/rating3.png" alt="">
        <img class="profile-ratings" src="/img/rating3.png" alt="">
        <img class="profile-ratings" src="/img/rating3.png" alt="">
        <p> <%= doctor.about %> </p>
           <a href="./<%= doctor.id %>/appointment" type="button" class="btn btn-warning">Book Appointment</a>
           <a href="./<%= doctor.id %>/chat" type="button" class="btn btn-primary">Click here to chat</a>

      </div>
    </div>
  </div>